@model ProductsViewModel


<style>
    #cardsrow {
        padding-top: 1.5rem;
    }

    a {
        color: black;
        text-decoration: none;
    }

        a:hover {
            color: black;
        }

    .card {
    }

    .card-text {
        height: 10rem;
    }

    .card-title {
        height: 3rem;
    }

    .btn-primary {
        background-color: #e0e0e0 !important;
        color: #000;
    }

    .btn {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        padding: .84rem 2.14rem;
        font-size: .81rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin-top: 1rem;
        border: 0;
        border-radius: .125rem;
        text-transform: uppercase;
        white-space: normal;
        word-wrap: break-word;
    }

        .btn:hover {
            color: #212529 !important;
            text-decoration: none !important;
            box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
            outline: 0;
        }

    .btn-primary:hover {
        border-color: #dae0e5 !important;
    }
</style>


<div class="toast" data-delay="3000" style="position: absolute; bottom: 0; left: 1rem;">
    <div class="toast-header">

        <strong class="mr-auto">Wahama Shop</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Товар был успешно добавлен в корзину!
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Alliances" asp-action="Index" asp-route-settingName="@ViewBag.setting">@ViewBag.setting</a></li>
        <li class="breadcrumb-item"><a asp-controller="Fractions" asp-action="Index" asp-route-allianceName="@ViewBag.alliance">@ViewBag.alliance</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Products.Select(p => p.ProductFraction.Title).FirstOrDefault()</li>
    </ol>
</nav>
<div id="cardsrow" class="row">
    @foreach (Product item in Model.Products)
    {
        <div id="card" class="pb-3 col-lg-3 col-md-6 col-12">
            <div class="card">
                <a href="#"><img style="width:15rem;" src="@Html.DisplayFor(modelItem => modelItem.ImageSources[item.Id])" /></a>
                <div class="card-body">

                    <a asp-controller="Categories" asp-action="ProductView" asp-route-id="@item.Id" asp-route-fraction="@item.ProductFraction.Title">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    </a>
                    <p class="card-text">@item.ShortDescription</p>
                    @{string p = "quantity" + item.Id.ToString();}
                    <input type="number" class="form-control" id="@p" style="width:40%; justify-content:end" value="1" />
                    <input type="submit" onclick="AddToCart(@item.Id)" value="@item.Price ₽" class="btn btn-primary align-items-end">
                </div>
            </div>
        </div>
    }

</div>


<script>
    function AddToCart(productId) {
        var qElementNumber = "#quantity" + productId
        var param = {
            quantity: $(qElementNumber).val(),
            productId: productId,
            userId: "CurrentUser"
        };
        $.ajax({
        url: '@Url.Content("~/")' + 'ShoppingCarts/AddToCart',
        contentType: "application/x-www-form-urlencoded",
        type: "POST",
        datatype: "json",
        data: param,
        error: function (xmlHttpRequest, errorText, thrownError) {
            alert(xmlHttpRequest+"|"+errorText+"|"+thrownError);
        },
        success: function (data) {
            if (data != null) {
                $('.toast').toast('show');
            }
        }
    });
    }


</script>


